<div id="popup_update_game">
    <div class="container-fluid">
      <div class="row mt-2" style="justify-content: center !important;">
        <!-- left column -->
        <div class="col-md-5" >
            <!-- general form elements -->
            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title">Cập Nhật Thông Tin Cuộc Thi</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-success btn-sm" id="update_game_infor_close_btn">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form id="form_update_game">
                    <div class="card-body" style=" height: 70vh; overflow-y: scroll;">
                        <div class="form-group">
                            <label for="name_game">Tên cuộc thi </label>
                            <input type="text" required class="form-control" id="name_game"
                                placeholder="Nhập tên cuộc thi" value="<%- gameData.game.name_game %>">
                        </div>
                        <div class="form-group">
                            <label id="upload_label" for="input_background" style="background-image: url('<%- gameData.game.background %>') ;">
                                <img src="/template/image/img_upload_icon.png" alt="">
                                Chọn ảnh Background
                            </label>
                            <input accept="image/*" id="input_background" name="input_background" type="file" hidden>
                        </div>
                        <div class="form-group">
                            <label for="max_vote">Số lượt bình chọn: </label>
                            <input type="number" required class="form-control" id="max_vote"
                                placeholder="Tổng số thí sinh được bình chọn trong một lượt vote"  min="1" value="<%- gameData.game.max_vote %>">
                        </div>
                        
                        <div class="form-group">
                            <label for="name_game" >Tiêu chí chấm điểm</label>
                        </div>
                        <% gameData.point_ladder.forEach((point_ladder,index)=> { %>
                            <div class="form-group row" style="margin-left: 0;">
                                <input type="text" required class="col form-control point_ladder_title"
                                placeholder="Nhập tiêu chí"
                                value="<%- point_ladder.title %>"
                                >
                                <input type="number" step="0.5" min="0" required class="col-3 form-control point_ladder_max_point"
                                placeholder="Nhập điểm"
                                style="margin-left: 10px;"
                                value="<%- point_ladder.max_point %>"
                                >
                                <button type="button" class="btn btn-danger remove_point_ladder_button" style="margin-left: 10px;">X</button>
                            </div>
                        <% }) %>

                        <button type="button" id="add_more_point_ladder_button" class="btn btn-warning col-6">Thêm tiêu chí</button>
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="submit" id="submit_form_update_game" class="btn btn-success col-sm-3 float-right">Cập nhật</button>
                    </div>
                </form>
            </div>
            <!-- /.card -->
        </div>
      </div>
    </div>
  </div>